### Mitigations to be enabled in the mitigation build
CONFIG_CFI_CLANG=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_SLAB_BUCKETS=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_RANDOM_KMALLOC_CACHES=y
# CONFIG_SLAB_MERGE_DEFAULT is not set
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_SECURITY_YAMA=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_DEBUG_WX=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_UBSAN_TRAP=y
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=y
# CONFIG_FUSE_FS is not set

### Mitigations that should already be enabled
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_SLUB_DEBUG=y
CONFIG_X86_KERNEL_IBT=y
CONFIG_X86_USER_SHADOW_STACK=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_STRICT_MODULE_RWX=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_RANDOMIZE_MEMORY=y
CONFIG_VMAP_STACK=y
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=y
CONFIG_LIST_HARDENED=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_UBSAN_BOUNDS=y
CONFIG_SECCOMP=y
CONFIG_SECURITY_LANDLOCK=y
CONFIG_STRICT_DEVMEM=y
