# CONFIG_IO_URING is not set
CONFIG_SYSTEM_TRUSTED_KEYS=""

## required by CONFIG_KMALLOC_SPLIT_VARSIZE
# CONFIG_SLAB_MERGE_DEFAULT is not set

## turns on our mitigations
CONFIG_KMALLOC_SPLIT_VARSIZE=y
CONFIG_SLAB_VIRTUAL=y

## turns on CONFIG_RANDOM_KMALLOC_CACHES
CONFIG_RANDOM_KMALLOC_CACHES=y

## turns on additional hardenings
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_DEBUG_WX=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
# CONFIG_FUSE_FS is not set

### Make the kernel less annoying to debug
## Compile the kernel with debug info
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
# Have all symbols in kallsyms
CONFIG_KALLSYMS_ALL=y
