# kernelCTF Server Secrets Template
webhook_url = "https://chat.googleapis.com/v1/spaces/EXAMPLE/messages?key=XXX&token=YYY"
discord_webhook_url = "https://discord.com/api/webhooks/EXAMPLE/YYY"
flag_key = "example_secret_flag_hmac_signing_key_change_me"
root_mode_hash = "<invalid>"  # SHA-1 hash of root password/secret
researcher_token_salt_prefix = "salt_prefix:"
